<h1>Figures:</h1>
<% Figure.all.each do |figure| %>
  <a href="/figures/<%=figure.id%>"><%=figure.name%></a>

  <div>
      <%figure.titles.each do |title|%>
        <ul>
          <%= title.name %>
        </ul>
      <%end%>

      <%figure.landmarks.each do |landmark|%>
        <ul>
          <%= landmark.name %>
        </ul>
      <%end%>
  </div>
<% end %>
