<h1><%=@figure.name%></h1>

<h3>Landmarks: </h3>

<% @figure.landmarks.each do |landmark| %>
  <div>
    <ul>
      <%= landmark.name %>
    </ul>
  </div>
<% end %>

<h3>Titles: </h3>
<%@figure.titles.each do |title| %>
  <div>
    <%= title.name %>
  </div>
<% end %>
